# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

# Ignore dataset folder
data/
dataset/
build/
MNIST/

# pointcloud and stl
*.stl
*.ply
*.pcd
*.bag

# Ignore Weight file
*.pt
*.pth
*.h5

# Ignore tensorboad folder
runs/